body{
    margin:0;
    padding:0;
    background-color: white;
    color: #fff;
    overflow: hidden;
    font-family: 'Montserrat',sans-serif;
}
.main{
    height: 100vh;
    display: flex;
}
.sidebar{
    background-color: #121212;
    width: 320px;
    border-radius: 1rem;

}


.navbar{
    display:flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
    height: 6.25em;
    justify-content: center;
     border-radius: 1rem;

}
.options {
     text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
}
.options:hover{
      color: rgba(255, 255, 255, 1.0);
}
.options i{
   font-size: 1.25rem;
   line-height: 2.5rem;
   margin-right: 1rem;

}
.library{
    height: 100%;
    
    margin-top: 1.5rem;
    border-radius: 1rem;

}
.lihead{
    display: flex;
    justify-content: space-between;
}
.lib{
    display: flex;
   
}
.lib img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    display: flex;
     padding: 0.5rem 0.75rem;
}
.libox{
    background-color: #232323;
    height:8rem;
    border-radius: 0.85rem;
    margin:0.75rem 0 1.75rem 0;
    padding:0.75rem 1rem ;
}
.badge{
    background-color: #fff;
    border:none;
    border-radius:6.25rem ;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top:0.5rem ;
    height: 2rem;
    width: fit-content;

}
.main_content{
    background-color: #121212;
    flex:1;
    border-radius: 1rem;
    overflow: auto;
    padding-left: 1rem;

}
.sticky{
    position: sticky;
    top: 0;
    left: 0;
    background-color:#121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.ico{
    display: flex;
     align-items: center;
    justify-content: center;
    margin: 0.5rem 1.5rem;
   
}
.ico img{
   margin: 1rem 0.5rem; 
}
.but{
     display: flex;
     align-items: center;
    justify-content: center;
    margin: 0.5rem 1.5rem;
}
.but2{
    background-color: #000;
    color: #fff;
}
.nav-item{
    margin-right:1.5rem;
}
@media (max-width:1000px) {
    .hide{
        display: none;
    }
    
}
.card img{
    height: 8.5 rem;
    width: 8.5rem;
    border-radius: 0.75rem;
}
    

.cardcontainer{
    display:flex;
}
.card{
    margin-left: 1.5rem;
    border-radius: 1rem;
    height: 10 rem;
    width: 10rem;
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: #232323 ;
    opacity: 0.8;
}

.card:hover{
   background-color: #232323;
   opacity: 1;
}

.card-head{
    font-weight:600;
    font-size: 1rem;

}
.card-body{
    font-size:0.85rem;
    opacity: 0.8;
}
.footer{
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid #fff;
}
.music_player{
    background-color: #121212;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    
}
.song{
    display:flex;
    margin: 0.5rem 1rem;
}
.song img{
    height: 3.165rem;
    width: 3.165 rem;
    margin-right: 1rem;
    border-radius: 0.25rem;
}
.song i{
    margin: 1.25rem 1rem 0 0;
}
.player{
   
    
}
.playoptions{
    display: flex;
    justify-content:center;
    align-items: center;
}
.play{
    height: 1rem;
    width: 1rem;
    margin: 0.5rem 1rem 0 0;
    
    
}
.progress{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress input{
     margin: 0 1rem 0 0;
    accent-color:#fff;
    background: grey;
    height: 10px;
    width: 300px;
    cursor: pointer;
    border: none;
}
.controls{
    display: flex;
    
}
.controls i{
    margin: 1.5rem 1rem 0 0;
}
.vol input[type="range"]{
    margin: 2rem 1rem 0 0;
    accent-color:#fff;
    background: grey;
    height: 6px;
    width: 100px;
    cursor: pointer;
    border: none;
   
}
@media(max-width="1000px")
{
    .hide{
        display:none;
    }
}
