
div{
    position: absolute;
    top: 30%;
    left: 40%;
    border: 2px solid black;
    width: 13.5rem;
    padding: 5px;
    background-color: aliceblue;
}
h3{
    padding: 5px;
}

input{
    padding: 5px;
    margin: 5px 15px;
    border-radius: 15px;
}
button{
    width:200px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}
h1{
    margin-left: 25px;
}
a{
    text-decoration: none;
    color: black;
    margin: 15px 5px;
}