<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <h1>WHISPER NET</h1>
    <div>
        <form action="/login/request" method="post">
            <h1>Login Page</h1>
            <input type="text" placeholder="email" name="email"><br>
        <input type="password" placeholder="password" name="password"><br>
        <p class="error"><%=er%></p>
        <button type="submit">signin</button>
        </form>
        <a href="/signup">Create new account</a>
    </div>
</body>
</html>