<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>New chat</title>
</head>
<body>
    <div>
        <form action="/add/<%=user%>" method="post">
            <h1>WHISPER NET</h1>
            <h3>Adding new user</h3>
            <input type="text" placeholder="add name of user you want to chat with" name="username"><br>
        <p class="error"></p>
        <button type="submit">add</button>
        </form>
</body>
</html>