<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <div class="new">
        <h3>Create new user</h3>
        <form method="post"action="/home">
        <input type="text" placeholder="username" name="username"><br>
        <input type="text" placeholder="email" name="email"><br>
        <input class="epass"type="password" placeholder="Create a new password" name="password"><br>
        <input class="cpass"type="password" placeholder="Re enter your password" ><br>
        <p class="error"></p><br>
        <button class="crebtn">create</button>
        </form>
        
    </div>
    <script src="/a.js"></script>
</body>
</html>